node_modules/
build/
artifacts/
types/
cache/
coverage
coverage.json
.env
gasReporterOutput.json
.secret
.infuraKey
specs/.certora_config
specs/.last_confs
specs/.certora_build.json
specs/.certora_verify
.last_confs/
.certora_verify.json
.certora_config/
.certora_build.json
.coverage_contracts/
.coverage_artifacts/